<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/src/dist/showdown.min.js""></script> 

</head>
<body>
    <div id="result"></div>
    <div id="oriContent">{{v[0]}}</div>
</body>
</html>
<script>
function convent(){
    var text = document.getElementById("oriContent").innerHTML;
    var converter = new showdown.Converter();
    var html = converter.makeHtml(text)
    document.getElementById("result").innerHTML = html;
}
convent()
</script>
